body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff3d;
}

.clock {
    background-color: #08dede;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(211, 14, 83, 0.1);
}

.time {
    font-size: 40px;
    color: #e80d68;
}
